/* Global */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body, #root {
    height: 100%;
    scroll-behavior: smooth;
}

body {
    overflow-y: scroll;
}

*, button, input {
    border: 0;
    outline: 0;

    font-family: 'Lato', sans-serif;
}

main {
    position: relative;
    width: 100%;
    height: 100%;
}

h2 {
    font-size: 3rem;
    margin: 1.25rem 0;
}

@media (max-width: 1100px) {
    h2 {
        font-size: 2.75rem;
    }
}

p {
    line-height: 1.45;
    text-indent: 50px;
}

@media (max-width: 1100px) {
    p {
        line-height: 1.5;
        text-indent: 25px;
    }
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    position: relative;
    width: 100%;
    min-height: 32px;
    margin: 3rem auto 0;
    background-color: #2F3136;
    color: #FFFFFF;
    cursor: default;
}

.w-auto {
    width: auto;
}

.w-35 {
    width: 35%;
}

.w-100 {
    width: 100%;
}

.h-100 {
    height: 100%;
}

.vh-100 {
    min-height: 100vh;
}

.d-flex {
    display: flex;
}

.flex-column {
    flex-direction: column;
}

.align-items-center {
    align-items: center;
}

.justify-content-center {
    justify-content: center;
}

.justify-content-between {
    justify-content: space-between;
}

.justify-content-around {
    justify-content: space-around;
}

.justify-content-end {
    justify-content: flex-end;
}

.text-center {
    text-align: center;
}

.mt-2 {
    margin-top: 1rem;
}

.mt-6 {
    margin-top: 3rem;
}

.mr-3 {
    margin-right: 1.5rem;
}

.ml-3 {
    margin-left: 1.5rem;
}

.mb-1 {
    margin-bottom: .5rem;
}

.mb-3 {
    margin-bottom: 1.5rem;
}

.mb-6 {
    margin-bottom: 3rem;
}

/* Specifics */

/* Loader */

#loader {
    transition: opacity 0.2s;
}

.load-group {
    position: relative;
    display: inline-block;
    line-height: 16px;
}

.big-square {
    position: relative;
    display: inline-block;
    width: 48px;
    height: 48px;
    overflow: hidden;
    -webkit-transform-origin: bottom left;
    transform-origin: bottom left;
    -webkit-animation: bigSqrShrink 1s linear infinite;
    animation: bigSqrShrink 1s linear infinite;
    margin-left: 2.1rem;
}

.square {
    position: absolute;
    width: 24px;
    height: 24px;
    background: #2F3136;
}

.square.first {
    left: 0;
    top: 24px;
}

.square.second {
    left: 24px;
    top: 24px;
    -webkit-animation: drop2 1s linear infinite;
    animation: drop2 1s linear infinite;
}

.square.third {
    left: 0;
    top: 0;
    -webkit-animation: drop3 1s linear infinite;
    animation: drop3 1s linear infinite;
}

.square.fourth {
    left: 24px;
    top: 0;
    -webkit-animation: drop4 1s linear infinite;
    animation: drop4 1s linear infinite;
}

.load-text {
    font-size: 24px;
    font-weight: 900;
    line-height: 16px;
    color: #2F3136;
    display: block;
    margin: 10px auto;
    padding: 3px;
    text-transform: uppercase;
}

@-webkit-keyframes bigSqrShrink {
    0% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
    90% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
    100% {
        -webkit-transform: scale(0.5);
        transform: scale(0.5);
    }
}

@keyframes bigSqrShrink {
    0% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
    90% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
    100% {
        -webkit-transform: scale(0.5);
        transform: scale(0.5);
    }
}
@-webkit-keyframes drop2 {
    0% {
        -webkit-transform: translateY(-50px);
        transform: translateY(-50px);
    }
    25% {
        -webkit-transform: translate(0);
        transform: translate(0);
    }
    100% {
        -webkit-transform: translate(0);
        transform: translate(0);
    }
}
@keyframes drop2 {
    0% {
        -webkit-transform: translateY(-50px);
        transform: translateY(-50px);
    }
    25% {
        -webkit-transform: translate(0);
        transform: translate(0);
    }
    100% {
        -webkit-transform: translate(0);
        transform: translate(0);
    }
}
@-webkit-keyframes drop3 {
    0% {
        -webkit-transform: translateY(-50px);
        transform: translateY(-50px);
    }
    50% {
        -webkit-transform: translate(0);
        transform: translate(0);
    }
    100% {
        -webkit-transform: translate(0);
        transform: translate(0);
    }
}
@keyframes drop3 {
    0% {
        -webkit-transform: translateY(-50px);
        transform: translateY(-50px);
    }
    50% {
        -webkit-transform: translate(0);
        transform: translate(0);
    }
    100% {
        -webkit-transform: translate(0);
        transform: translate(0);
    }
}
@-webkit-keyframes drop4 {
    0% {
        -webkit-transform: translateY(-50px);
        transform: translateY(-50px);
    }
    75% {
        -webkit-transform: translate(0);
        transform: translate(0);
    }
    100% {
        -webkit-transform: translate(0);
        transform: translate(0);
    }
}
@keyframes drop4 {
    0% {
        -webkit-transform: translateY(-50px);
        transform: translateY(-50px);
    }
    75% {
        -webkit-transform: translate(0);
        transform: translate(0);
    }
    100% {
        -webkit-transform: translate(0);
        transform: translate(0);
    }
}

/* Hexagon */

#main {
    position: relative;
    display: none;
}

#container-main {
    width: 1100px;
    min-height: 100%;
    margin: 0 auto 0;
}

@media (max-width: 1100px) {
    #container-main {
        width: 100%;
    }
}

.transition-main {
    display: block!important;
    animation: fadeInFromNone .5s cubic-bezier(0.250, 0.460, 0.450, 0.940) .1s both;
}

@keyframes fadeInFromNone {
    0% {
        opacity: 0;
        transform: translateY(100px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

#hive {
    align-items: center;
}

@media (max-width: 1100px) {
    #hive {
        flex-direction: column;
    }
}

#grid {
    position: relative;
    width: 62%;
    height: 700px;
    /*margin: 0 auto;*/
    padding: 0; /* Clears unordered list default of 40px */
    margin-right: 1%;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    clip-path: polygon(24% 7%, 75% 7%, 100% 50%, 74% 93%, 25% 93%, 0% 50%); /* polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%); */
    transition: background-color 0.4s;
}

@media (max-width: 1100px) {
    #grid {
        width: 90%;
        height: 390px;
    }
}

.clear:after {
    content: "";
    display: block;
    clear: both;
}

.hexagon-group {
    margin-bottom: -16px;
}

@media (max-width: 1100px) {
    .hexagon-group {
        margin-bottom: -10px;
    }
}

#grid .hexagon-container {
    list-style-type: none;
    position: relative;
    float: left;
    width: 62px;
    padding: 0 0 70px 0;
    -o-transform: rotate(-60deg) skewY(30deg);
    -moz-transform: rotate(-60deg) skewY(30deg);
    -webkit-transform: rotate(-60deg) skewY(30deg);
    -ms-transform: rotate(-60deg) skewY(30deg);
    transform: rotate(-60deg) skewY(30deg);
    overflow: hidden;
    visibility: hidden;
    margin: 1px 2px;
}

@media (max-width: 1100px) {
    #grid .hexagon-container {
        width: 32px;
        padding: 0 0 38px 0;
    }
}

#grid .hexagon-container * {
    visibility: visible;
}

#grid .hexagon-container .hexagon {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .05);
    -o-transform: skewY(-30deg) rotate(60deg);
    -moz-transform: skewY(-30deg) rotate(60deg);
    -webkit-transform: skewY(-30deg) rotate(60deg);
    -ms-transform: skewY(-30deg) rotate(60deg);
    transform: skewY(-30deg) rotate(60deg);
    overflow: hidden;
    transition: background-color 0.4s;
}

/* Infos */

.container-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 38%;
    height: 100%;
    margin-left: 2%;
    /*background-color: #2F3136;*/
    padding: 8rem 0;
    color: #2a2d33;
}

@media (max-width: 1100px) {
    .container-info {
        width: 90%;
        margin-left: 0;
        padding: 3rem 0;
    }
}

.container-info-top {
    margin: 0 1.5rem 6.5rem;
}

@media (max-width: 1100px) {
    .container-info-top {
        margin: 0 0 3.25rem;
    }
}

.logo {
    height: 40px;
    width: auto;
}

#button-connect {
    height: 32px;
    font-size: 1rem;
    font-weight: 700;
    color: #FFFFFF;
    background-color: #C62828;
    padding: 5px 2rem 0;
    border-radius: 12px;
    cursor: pointer;
    user-select: none;
    transition: box-shadow 0.4s;
}

#button-connect:hover {
    box-shadow: 0 0 8px 0 rgba(32, 33, 36, .25);
}

.container-info-middle {
    border-radius: 15px;
    padding: 1.5rem 1.5rem;
    background-color: rgba(0,0,0,0.05);
}

.info-label {
    font-size: 1.25rem;
    font-weight: 700;
    color: #717682;
    margin-bottom: .5rem;
}

.info-data {
    font-size: 2.5rem;
    font-weight: 900;
    color: #2F3136;
}

.info-color-circle-default {
    width: 32px;
    height: 32px;
    border-radius: 100%;
    margin-right: 7px;
    transition: box-shadow 0.4s, background-color 0.4s;
    background-color: red;
}

.info-color-circle-default:hover {
    box-shadow: 0 0 6px 0 rgba(32, 33, 36, .4);
}

.info-color-label-default {
    font-size: 1.1rem;
    font-weight: 700;
    color: #2F3136;
}

@media (max-width: 1100px) {
    .info-color-label-default {
        font-size: 1rem;
    }
}

.info-color-circle-small {
    width: 24px;
    height: 24px;
    border-radius: 100%;
    margin-right: 5px;
    transition: box-shadow 0.4s, background-color 0.4s;
    background-color: rgba(0, 0, 0, .05);
}

.info-color-circle-small:hover {
    box-shadow: 0 0 6px 0 rgba(32, 33, 36, .2);
}

.info-color-label-small {
    font-size: .9rem;
    font-weight: 700;
    color: #2F3136;
}

.container-info-bottom {
    cursor: pointer;
    margin: 6.5rem 1.5rem 0;
}

@media (max-width: 1100px) {
    .container-info-bottom {
        margin: 3.25rem 0 0;
    }
}

.more-info-icon {
    height: 55px;
    width: auto;
}

.more-info {
    width: 150px;
    font-weight: 900;
    line-height: 1.1;
    margin-left: .25rem;
    margin-top: -5px;
    font-size: 1.15rem;
    user-select: none;
}

/* Body */

#content {
    max-width: 900px;
    min-height: 100vh;
}

@media (max-width: 1100px) {
    #content {
        width: 85%;
    }
}

.content-evolution {
    align-items: center;
}

@media (max-width: 1100px) {
    #content-evolution-1 {
        flex-direction: column;
    }

    #content-evolution-2 {
        flex-direction: column-reverse;
        margin-top: 2rem!important;
    }
}

.content-img {
    border-radius: 15px 0 15px 0;
}

@media (max-width: 1100px) {
    .content-img {
        margin: 0 0 2rem!important;
    }
}

#video {
    width: 750px;
    height: 425px;
}

@media (max-width: 1100px) {
    #video {
        width: 100%;
        height: auto;
    }
}

#subtitle-video {
    font-size: 0.85rem;
    font-style: italic;
    color: rgba(0, 0, 0, .75);
    margin-top: .25rem;
}

@media (max-width: 1100px) {
    #subtitle-video {
        margin-left: -40px;
    }
}

.footer-link {
    margin: 0 .25rem;
}

.footer-link:active, .footer-link:visited {
    color: #FFFFFF;
}
