/* Global */

:root {
  --color-background: #F0F0F7;
  --color-text-in-primary: #2a2d33;
  --color-text-complement: #717682;
  --color-white: #FFFFFF;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100vh;
  scroll-behavior: smooth;
}

body {
  overflow-y: scroll;
  background: var(--color-background);
}

*, button {
  border: 0;
  outline: 0;

  font-family: 'Poppins', sans-serif;
}

main {
  position: relative;
  width: 100%;
  height: 100%;
}

h2 {
  font-size: 3rem;
  color: var(--color-text-in-primary);
  margin: 0 0 1.25rem;
}

@media (max-width: 1100px) {
  h2 {
    font-size: 2.75rem;
  }
}

h3 {
  font-size: 2.25rem;
  color: var(--color-text-in-primary);
  margin: 1.5rem 0 1rem;
}

@media (max-width: 1100px) {
  h3 {
    font-size: 2rem;
  }
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  position: relative;
  width: 100%;
  min-height: 32px;
  margin: 0 auto;
  background-color: var(--color-text-in-primary);
  color: var(--color-white);
  cursor: default;
}

/* Specifics */

/* Loader */

#loader {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: opacity .2s;
}

.load-group {
  display: flex;
  align-items: center;
  flex-direction: column;
  position: relative;
}

.big-square {
  position: relative;
  display: inline-block;
  width: 48px;
  height: 48px;
  overflow: hidden;
  transform-origin: bottom left;
  animation: big-square-shrink 1s linear infinite;
  margin-bottom: .85rem;
}

.square {
  position: absolute;
  width: 24px;
  height: 24px;
  background: #2F3136;
}

.square.first {
  left: 0;
  top: 24px;
}

.square.second {
  left: 24px;
  top: 24px;
  animation: drop-second 1s linear infinite;
}

.square.third {
  left: 0;
  top: 0;
  animation: drop-third 1s linear infinite;
}

.square.fourth {
  left: 24px;
  top: 0;
  animation: drop-fourth 1s linear infinite;
}

.load-text {
  font-size: 24px;
  font-weight: 700;
  color: var(--color-text-in-primary);
  text-transform: uppercase;
}

@keyframes big-square-shrink {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  90% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  100% {
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
  }
}

@keyframes drop-second {
  0% {
    -webkit-transform: translateY(-50px);
    transform: translateY(-50px);
  }
  25% {
    -webkit-transform: translate(0);
    transform: translate(0);
  }
  100% {
    -webkit-transform: translate(0);
    transform: translate(0);
  }
}

@keyframes drop-third {
  0% {
    -webkit-transform: translateY(-50px);
    transform: translateY(-50px);
  }
  50% {
    -webkit-transform: translate(0);
    transform: translate(0);
  }
  100% {
    -webkit-transform: translate(0);
    transform: translate(0);
  }
}

@keyframes drop-fourth {
  0% {
    -webkit-transform: translateY(-50px);
    transform: translateY(-50px);
  }
  75% {
    -webkit-transform: translate(0);
    transform: translate(0);
  }
  100% {
    -webkit-transform: translate(0);
    transform: translate(0);
  }
}

/* Hexagon */

#main {
  position: relative;
  display: none;
}

#container-main {
  width: 1100px;
  min-height: 100%;
  margin: 0 auto 0;
}

@media (max-width: 1100px) {
  #container-main {
    width: 100%;
  }
}

.transition-main {
  display: block!important;
  animation: fadeInFromNone .5s cubic-bezier(0.250, 0.460, 0.450, 0.940) .1s both;
}

@keyframes fadeInFromNone {
  0% {
    opacity: 0;
    transform: translateY(100px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

#hive {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}

@media (max-width: 1100px) {
  #hive {
    flex-direction: column;
  }
}

#grid {
  position: relative;
  width: 62%;
  height: 700px;
  /*margin: 0 auto;*/
  padding: 0; /* Clears unordered list default of 40px */
  margin-right: 1%;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  clip-path: polygon(24% 7%, 75% 7%, 100% 50%, 74% 93%, 25% 93%, 0% 50%); /* polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%); */
  transition: background-color .4s;
}

#grid:after {
  content: "";
  display: block;
  clear: both;
}

@media (max-width: 1100px) {
  #grid {
    width: 90%;
    height: 390px;
  }
}

.hexagon-group {
  margin-bottom: -16px;
}

#hexagon-group-1 {
  margin-right: -10px;
}

#hexagon-group-2 {
  margin-right: -7px;
}

#hexagon-group-3 {
  margin-right: -4px;
}

#hexagon-group-4 {
  margin-right: -1px;
}

#hexagon-group-5 {
  margin-left: -2px;
}

#hexagon-group-6 {
  margin-left: -5px;
}

#hexagon-group-7 {
  margin-left: -8px;
}

#hexagon-group-8 {
  margin-left: -11px;
}

#hexagon-group-9 {
  margin-left: -14px;
}

@media (max-width: 1100px) {
  .hexagon-group {
    margin-bottom: -10px;
  }

  #hexagon-group-1 {
    margin-right: 9px;
  }

  #hexagon-group-2 {
    margin-right: 7px;
  }

  #hexagon-group-3 {
    margin-right: 5px;
  }

  #hexagon-group-4 {
    margin-right: 3px;
  }

  #hexagon-group-5 {
    margin-left: -1px;
  }

  #hexagon-group-6 {
    margin-left: 1px;
  }

  #hexagon-group-7 {
    margin-left: 3px;
  }

  #hexagon-group-8 {
    margin-left: 3px;
  }

  #hexagon-group-9 {
    margin-left: 5px;
  }
}

#grid .hexagon-container {
  list-style-type: none;
  position: relative;
  float: left;
  width: 62px;
  padding: 0 0 70px 0;
  -o-transform: rotate(-60deg) skewY(30deg);
  -moz-transform: rotate(-60deg) skewY(30deg);
  -webkit-transform: rotate(-60deg) skewY(30deg);
  -ms-transform: rotate(-60deg) skewY(30deg);
  transform: rotate(-60deg) skewY(30deg);
  overflow: hidden;
  visibility: hidden;
  margin: 1px 2px;
}

@media (max-width: 1100px) {
  #grid .hexagon-container {
    width: 32px;
    padding: 0 0 38px 0;
  }
}

#grid .hexagon-container * {
  visibility: visible;
}

#grid .hexagon-container .hexagon {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, .05);
  -o-transform: skewY(-30deg) rotate(60deg);
  -moz-transform: skewY(-30deg) rotate(60deg);
  -webkit-transform: skewY(-30deg) rotate(60deg);
  -ms-transform: skewY(-30deg) rotate(60deg);
  transform: skewY(-30deg) rotate(60deg);
  overflow: hidden;
  transition: background-color .4s;
}

/* Infos */

.container-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 38%;
  height: 100%;
  margin-left: 2%;
  padding: 8rem 0;
}

@media (max-width: 1100px) {
  .container-info {
    width: 90%;
    margin-left: 0;
    padding: 2rem 0 2.25rem;
  }
}

.container-info-top {
  margin: 0 1.5rem 6.5rem;
}

#container-info-top-mobile {
  display: none;
}

#container-info-top {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

@media (max-width: 1100px) {
  .container-info-top {
    margin: 2.75rem 0 1.5rem;
  }

  #container-info-top-mobile {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }

  #container-info-top {
    display: none;
  }
}

.logo {
  height: 40px;
  width: auto;
}

.button-connect {
  height: 32px;
  font-size: 1rem;
  font-weight: 700;
  color: var(--color-white);
  background-color: #C62828;
  padding: 5px 2rem;
  line-height: 1.4rem;
  border-radius: .5rem;
  cursor: pointer;
  user-select: none;
  transition: background-color .2s;
}

.button-connect:hover {
  background-color: #A02828;
}

.container-info-middle {
  display: flex;
  flex-direction: column;
  border-radius: 15px;
  padding: 1.5rem 1.5rem;
  background-color: rgba(0,0,0,0.05);
}

.container-info-middle > div {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.container-info-middle > div:first-child {
  margin-bottom: 3rem;
}

.wrapper-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.wrapper-info:nth-child(odd) {
  width: 35%;
}

.info-label {
  font-size: 1.25rem;
  font-weight: 600;
  line-height: 1.8rem;
  color: var(--color-text-complement);
  margin-bottom: .5rem;
}

.info-data {
  font-size: 2.5rem;
  font-weight: 400;
  color: var(--color-text-in-primary);
}

.info-color {
  width: 46px;
  height: 46px;
  border-radius: 100%;
  margin-top: .5rem;
  transition: box-shadow .2s, background-color .2s;
  background-color: var(--color-white);
}

.info-color:hover {
  box-shadow: 0 0 6px 0 rgba(32, 33, 36, .4);
}

.container-info-bottom {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  margin: 6.5rem 2.5rem 0 0;
}

@media (max-width: 1100px) {
  .container-info-bottom {
    display: none;
  }
}

.arrow-down-icon {
  height: 55px;
  width: auto;
}

.container-info-bottom span {
  width: 150px;
  font-weight: 900;
  line-height: 1.5rem;
  margin-left: .25rem;
  margin-top: -5px;
  font-size: 1.15rem;
  color: var(--color-text-in-primary);
  user-select: none;
}

/* Body */

.container-content {
  display: flex;
  justify-content: center;
  margin-bottom: 2.5rem;
}

#content {
  display: flex;
  flex-direction: column;
  max-width: 900px;
  min-height: 100vh;
}

#content > div .container-img {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1.5rem 0;
}

#content > div .container-img span {
  font-size: .85rem;
  color: var(--color-text-in-primary);
  margin-top: .25rem;
}

@media (max-width: 1100px) {
  #content {
    width: 85%;
  }
}

.gene-image {
  width: 100%;
  max-width: 700px;
  height: auto;
}

.moths-image {
  width: 100%;
  max-width: 700px;
  height: auto;
}

.paragraph {
  text-align: justify;
  text-indent: 50px;
  margin-bottom: 1rem;
  color: var(--color-text-in-primary);
}

@media (max-width: 1100px) {
  .paragraph {
    line-height: 1.5;
    text-indent: 25px;
  }
}

.github-link {
  color: var(--color-text-in-primary);
}

.github-link:active, .github-link:visited {
  color: var(--color-text-in-primary);
}

.more-info {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#video {
  width: 750px;
  height: 425px;
}

@media (max-width: 1100px) {
  #video {
    width: 100%;
    height: auto;
  }
}

#subtitle-video {
  font-size: .85rem;
  font-style: italic;
  color: var(--color-text-in-primary);
  margin-top: .25rem;
}

@media (max-width: 1100px) {
  #subtitle-video {
    margin-left: -40px;
  }
}

.footer-link {
  color: var(--color-white);
  margin: 0 .25rem;
}

.footer-link:active, .footer-link:visited {
  color: var(--color-white);
}
